
<h1>
    Welcome {{name}} to our todo app!
</h1>

<div class="container">
    <!-- the routerLinke here should be consistent with the list-todos templateurl -->
    You can manage your todos <a routerLink="/list-todos">here</a>
</div>

<div class="container">
    Click here to get a customized welcome message
    <button (click)="getWelcomeMessagewithParameter()" class="btn btn-success">Get welcome message</button>
</div>


<div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your customized welcome message</h2>
    {{welcomeMessageFromService}}
    
    <!-- <button (click)="getWelcomeMessage()" class="btn btn-success">Get welcome message</button> --
</div>

<div class="container" *ngIf="getWelcomeMessagewithParameter">
    <h2>Your customized welcome message</h2>
    {{welcomeMessageFromService}}
    
    <button (click)="getWelcomeMessage()" class="btn btn-success">Get welcome message</button> -->
</div>