<header>
    <nav calss="navbar navbar-expand-md navbar-dark background-dark">
        <div><a href="https://wwww.wang.com" class="navbar-brand">My Todo List</a></div>

        <ul class="navbar-nav">
            <li><a href="/welcome/wang" class="nav-link">Home</a></li>
            <li><a href="/list-todos" class="'nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end" >
            <li><a href="/login" class="nav-link">Login</a></li>
            <li><a href="/login" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>

